.welcome-container {
  background-color: rgba(245, 245, 245, 0.479);
  height: 100vh;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(226, 221, 221, 0.2);
  margin: 2%;
}

.welcome-container > p {
  color: #000;
  font-size: 0.8rem;
  font-family:
    "Trebuchet MS",
    "Lucida Sans Unicode",
    "Lucida Grande",
    "Lucida Sans",
    Arial,
    sans-serif;
}

.info > h1 {
  color: rgb(231, 23, 23);
  font-size: 1.5rem;
  margin-top: -20%;
  margin-left: 3%;
}

.info > p {
  padding: 3%;
  color: #000;
  font-family:
    "Trebuchet MS",
    "Lucida Sans Unicode",
    "Lucida Grande",
    "Lucida Sans",
    Arial,
    sans-serif;
}

@media screen and (max-width: 960px) {
  .welcome-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .welcome-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .welcome-container > p {
    font-size: 30px;
  }
}
